# Dependency directory
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional IDE/Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output directory
dist
build
